.section {
  background-color: #fff;
  padding: 4rem 0;
}

.content {
  display: flex;
  flex-direction: column;
}
.content h2 {
  text-align: center;
}

.content_title {
  height: 10rem;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin: 2rem auto;
 
}

.content_title h2 {
  font-size: 1.2rem;
  color: var(--tertiary);
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  margin-bottom: 2rem;
  background-color:  #47658739;
  padding: 6px;
  border-radius: 4px;
  
}


.content_items {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(357px, 1fr));
  gap: 2rem;
  margin-bottom: 4rem;
}

.card {
  max-width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  padding: 2rem;
  box-shadow: rgba(0, 0, 0, 0.04) 0px 3px 5px;
  border-radius: 0.4rem;
  transition: all 0.3s ease-in-out;
}
.card:hover {
  box-shadow: rgba(0, 0, 0, 0.2) 0px 2px 4px;
  transform: translateY(-5px);
}
.link {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
}
.spanLink {
  width: 0;
  overflow: hidden;
  white-space: nowrap;
  transition: width 0.5s;
  color: var(--primary);
  font-weight: 600;
}

.card:hover .spanLink {
  width: 100%;
}

.text h2 {
  margin-bottom: 1.4rem;
  color: var(--primary);
}

.text p {
  margin-bottom: 1.4rem;
  color: var(--gray);
}

.icon {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--white);
  border-radius: 50%;
  padding: 1.2rem;
  color: var(--tertiary);
  transition: all 0.3s ease-in-out;
  margin-bottom: 1.2rem;
}
.card:hover .icon {
  color: var(--white);
  background-color: var(--primary);
}

.front {
  position: relative;
}


.front img {
  max-width: 100%;
  border-radius: 30% 70% 70% 30% / 30% 30% 70% 70% ; 
  object-fit: cover;
}

.blob {
  width: 500px;
  height: 500px;
  border-radius: 48% 52% 44% 56% / 60% 37% 80% 44%;
  background-color: var(--secondary);
  box-shadow: rgba(0, 0, 0, 0.2) 0px 30px 40px -7px;
  position: absolute;
  top: 0;
  z-index: -1;
}

.back {
  
  display: flex;
  flex: 1;
}

.content_text {
  display: flex;
  flex: 1;
  padding: 1rem;
  overflow: hidden;
}

.anchor {
  text-decoration: none;
  color: var(--tertiary);
}


@media (max-width: 850px) {

  .content_title {
    margin: 1rem auto;

  }


  .back {
    width: 300px;
    height: 300px;
  
  }

  .front, .blob,  .front img {
    width: 300px;
    height: 300px;
  
  }

 

}