.section {
  height: 100%;
  padding: 6rem 0;
  display: flex;
  align-items: center;
}

.content_title {
  height: 10rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.content_title h2 {
  font-size: 1.1rem;
  color: var(--tertiary);
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  margin-bottom: 2rem;
  background-color: #47658739;
  padding: 6px;
  border-radius: 4px;
  
}

.content_title p {
  font-size: 2rem;
  color: var(--gray);
}

.content {
  display: flex;
  flex-direction: column-reverse;
  gap: 4rem;
}

.content_item {
  display: flex;
  justify-content: space-between;
  
}

.content_item_img {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  height: 480px;

}

.content_item_img img {
  max-width: 100%;
  object-fit: cover;
}

.content_items {
  display: flex;
  flex-direction: column;
  justify-content: center;
}


.content_items h2 {
  font-size: 1.6rem;
  color: var(--tertiary);
  letter-spacing: 0.1rem;
  font-weight: 500;
  margin-bottom: 2rem;
}

.content_items p {
  line-height: 2rem;
  color: var(--gray);
  margin-bottom: 2rem;
}

.Link {
  display: inline-block;
  background: transparent;
  border: solid 2px var(--tertiary);
  border-radius: 4px;
  color: var(--tertiary);
  padding: 1rem 3.4rem;
  transition: 0.2s;
  text-align: center;
}

.Link:hover {
  background-color: #476587d4;
  color: var(--white);
}

.cards {
  display: flex;
  justify-content: space-between;
}

.content_card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  padding: 1.4rem 1rem;
  
}

.content_card div h2 {
 font-size: 1.2rem;
 color: var(--tertiary);
}

.content_card div p {
  margin-top: 0.5rem;
  color: var(--gray);
}

.icon {
  color: var(--quintuary);

  
}

@media (max-width: 850px) {
  .content {
    flex-direction: column-reverse;
    gap: 4rem;
    overflow: hidden;
  }

  .content_title {
    text-align: center;
    height: 12rem;
  }

  .cards {
    flex-direction: column;
  }

  .content_item {
    flex-direction: column;
    gap: 4rem;
  }

  .content_items {
    text-align: center;
    justify-content: center;
    align-items: center;
  }

 

}