.header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 999;
  background-color: transparent;
}


.scroll {
  background: rgba(6, 6, 6, 0.25);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
}
.header.scroll .navbar {
  height: 75px;
}
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100px;
  transition: 0.3s;
}

.logo {
  font-size: 2rem;
  font-weight: 500;
  color: var(--white);
  text-decoration: none;
  
}

.list {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.list a:not(.anchor) {
  position: relative;
  display: inline-block;
  text-decoration: none;
  color: #eee;
  font-size: 1.1rem;
  font-weight: 400;
  margin-right: 2rem;
  padding: 1rem 0;
}

.list a:not(.anchor)::after {
  content: '';
  position: absolute;
  bottom: 5px;
  left: 0;
  width: 0%;
  height: 2px;
  background-color: var(--white);
  transition: 0.5s;
}

.list a.active::after {
  width: 100%;
}
.list a:hover::after {
  width: 100%;
}
.list a:hover {
  color: var(--white);
}
.anchor {
  color: var(--white);
}
.active {
  color: var(--white) !important;
}
.button {
  background-color: var(--primary);
  color: var(--white);
  padding: 0.8rem 1rem;
  border: 2px solid var(--primary);
  border-radius: 5px;
  font-weight: 500;
  cursor: pointer;
}

.button:hover {
  filter: brightness(1.1);
  color: #fff;
}
.open {
  color: var(--white);
}
.close {
  position: absolute;
  top: 2rem;
  right: 1rem;
  font-size: 2rem;
  color: var(--white);
  cursor: pointer;
}
.mobileMenu {
  display: flex;
  justify-content: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  padding: 2rem;
  overflow: hidden;
  background-color: var(--primary);

  transition: 0.5s;
}
.mobileNav {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
.mobileNav a {
  display: block;
  width: 100%;
  color: var(--white);
  font-size: 1.5rem;
  font-weight: 500;
  display: block;
  padding: 2rem 1rem;
  text-decoration: none;
}
@media (max-width: 768px) {
  .list {
    display: none;
  }
}
