.header {
  background-color: var(--white);
}
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 100px;
}
.list a {
  text-decoration: none;
  color: var(--green);
  font-size: 1.1rem;
  font-weight: 400;
  padding: 0 1rem;
}
.list a:hover {
  color: var(--olive);
}
.active {
  color: var(--olive) !important;
}
.button {
  background-color: var(--green);
  color: var(--white);
  padding: 0.8rem 1rem;
  border: none;
  border-radius: 5px;
  font-weight: 500;
  cursor: pointer;
}
